

.main-box{
  padding: 3%;
  margin: 5% 33% 0% 33%; 
  display: flex;
  flex-direction: column;
  width: 20vw;
  height: 50vh;
  border-radius: 20px;
  border: 3px groove rgb(186, 187, 186); 
  justify-content: space-evenly;
}

img{
  height: 5vh;
  width: 5vw;
}

button{
  padding: 1vh;
  border-radius: 10px;
  border: 1px groove; 
  background-color: rgb(31, 167, 245);
  color:white;
}

.grey{
  color: grey;
  text-align: center;
}

b{
  font-size: 1.2em;
  text-align: start;
}

input{
  border-radius: 7px;
  border: 1px groove rgb(186, 187, 186); 
  padding: 1.2vh;
  margin: 2% 0%;
}

a{
  text-decoration: none;
  color: rgb(31, 167, 245);
}

p{
  text-align: start;

}

.credits{
  display: flex;
  flex-direction: row;
  width: 26vw;
  justify-content: space-between;
  margin: 0% 33%; 
}

