html{
  color: #333333;
}

.main-box{
  padding: 3%;
  display: flex;
  flex-direction: column;
  margin:5% auto 0% auto; 
  width: 40vh;
  border-radius: 20px;
  border: 3px groove rgb(186, 187, 186); 
  justify-content: space-between;
}

apps img{
  height: 5vh;
  width: 5vw;
}

.dev{
  width:15vh;
  margin-bottom: 1vh;
  padding-top: 2vh;
}

button{
  padding: 1vh;
  margin-top: 1vh;
  border-radius: 10px;
  border: 1px groove; 
  background-color: #2F80ED;
  color:white;
}

.grey{
  color: grey;
  text-align: center;
}

b{
  font-size: 1.2em;
  text-align: start;
}

input{
  border-radius: 7px;
  border: 1px groove rgb(186, 187, 186); 
  padding: 1.2vh;
  margin: 2% 0%;
}

a{
  text-decoration: none;
  color: #2F80ED;
}

p{
  text-align: start;

}

.credits{
  display: flex;
  flex-direction: row;
  width: 43vh;
  justify-content: space-between;
  margin:0px auto; 
}

.app{
  display: flex;
  flex-direction: row;
}

